#Ayuda{
    
	margin-top:30px;
	margin-left: 10%;
	
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
	
	width: 80%;
    opacity: 0.85;
	
	border-radius: 5px;
	
}

#chat{ 
    left:5%;
    position: relative;
    width: 95%;
    height: 300px;
    font-size: 12pt;
    text-align: left;
    overflow:auto;
}

#msg {
	
	margin-left: 0.5%;
	
}

.Bienvenido {
	
	margin-top: 0.5%;
	margin-left: 0.5%;
	
}

#conectados {
	
	margin-left: 0.5%;
	
}














